In [9]:
import numpy as np 
class Mylr:
    def __init__(self): 
        self.coef = None 
        self.intercept = None 

    def fit(self, X_train, y_train):
        X_train = np.insert(X_train, 0 , 1, axis=1)
        betas=  np.linalg.inv(X_train.T @ X_train) @ (X_train.T @ y_train)
        self.coef = betas[1:]
        self.intercept = betas[0]

    def predict(self, X_test): 
        X_test = np.insert(X_test, 0, 1, axis=1) 
        y_pred = np.dot(X_test, self.coef) + self.intercept
        return y_pred

In [11]:
import pandas as pd 
df = pd.read_csv('/home/aromal/Documents/jupyter_Lab/Datasets_Main/Linear_regression/Student_Performance.csv')
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [13]:
X = df.drop('Performance Index', axis=1).values
y = df['Performance Index'].values 
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
df['Extracurricular Activities'] = df['Extracurricular Activities'].map({'Yes': 1, 'No': 0})
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0

In [ ]:
lr = Mylr()
lr.fit(X_train, y_train)